html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

section {
	width: 100%;
	height: 100%;	
	position: relative;
	-webkit-transition: all .2s ease-in-out;
	   -moz-transition: all .2s ease-in-out;
		 -o-transition: all .2s ease-in-out;
			transition: all .2s ease-in-out;	
}

.search-open section {
	top: 50px;
}

section:before {
	content: 'loading';
	text-align: center;
	position: absolute;
	top: 50%;
	width: 100%;
	z-index: -1;
}

#canvas {
	cursor: pointer;
}

div {
	position: absolute;
	width: 100%;
	height: 50px;
	background: black;
	top: -50px;
}

input {
	width: 100%;
	padding: 14px 0;
	text-align: center;
}

a {
	display: block;
	width: 30px;
	height: 30px;
	background: rgba(255, 255, 255, 0.2);
	text-decoration: none;
	color: white;
	position: absolute;
	bottom: -30px;
	left: 50%;
	margin-left: -15px;
}

a:before {
	content: '+';
	display: inline-block;
	width: 30px;
	height: 25px;
	text-align: center;
	position: absolute;
	top: 5px;
	left: 0;
}

.search-open a:before {
	content: '-';
}